[submodule "pack/my-plugins/start/vim-colors-solarized"]
	path = pack/my-plugins/start/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "pack/my-plugins/start/nord-vim"]
	path = pack/my-plugins/start/nord-vim
	url = https://github.com/arcticicestudio/nord-vim.git
[submodule "pack/my-plugins/start/dracula"]
	path = pack/my-plugins/start/dracula
	url = https://github.com/dracula/vim.git
[submodule "pack/my-plugins/start/oceanic-next"]
	path = pack/my-plugins/start/oceanic-next
	url = https://github.com/mhartington/oceanic-next
[submodule "pack/my-plugins/start/onedark.vim"]
	path = pack/my-plugins/start/onedark.vim
	url = https://github.com/joshdick/onedark.vim
[submodule "pack/my-plugins/start/palenight.vim"]
	path = pack/my-plugins/start/palenight.vim
	url = https://github.com/drewtempelmeyer/palenight.vim
[submodule "pack/my-plugins/start/vim-one"]
	path = pack/my-plugins/start/vim-one
	url = https://github.com/rakr/vim-one
[submodule "pack/my-plugins/start/challenger-deep"]
	path = pack/my-plugins/start/challenger-deep
	url = https://github.com/challenger-deep-theme/vim
[submodule "pack/my-plugins/start/vim-obsession"]
	path = pack/my-plugins/start/vim-obsession
	url = https://github.com/tpope/vim-obsession
[submodule "pack/plugins/start/vim-tmux-navigator"]
	path = pack/plugins/start/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator.git
[submodule "pack/plugins/start/lightline"]
	path = pack/plugins/start/lightline
	url = https://github.com/itchyny/lightline.vim
[submodule "pack/plugins/start/vim-gitbranch"]
	path = pack/plugins/start/vim-gitbranch
	url = https://github.com/itchyny/vim-gitbranch.git
[submodule "pack/plugins/start/nerdtree"]
	path = pack/plugins/start/nerdtree
	url = https://github.com/preservim/nerdtree.git
